In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [10]:
#loading dataset
sms_data = pd.read_csv("spam.csv" , encoding="latin-1")

In [11]:
sms_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [12]:
sms_data.shape

(5572, 5)

In [13]:
# Drop all columns except 'v1' and 'v2'
sms_data = sms_data[['v1', 'v2']]

In [15]:
# checking null value
print(sms_data.isna().sum())

v1    0
v2    0
dtype: int64

In [17]:
sms_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
sms_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
 2   target  5572 non-null   int32
dtypes: int32(1), object(2)
memory usage: 109.0+ KB

In [21]:

sms_data.loc[sms_data['v1'] == 'spam', 'target'] = 1
sms_data

In [26]:
X = sms_data['v2']
Y = sms_data['target']

In [28]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [29]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5572, dtype: int32

# splitting data

In [31]:
X_train , X_test , Y_train, Y_test = train_test_split(X , Y  , test_size = 0.3 , random_state = 37)

In [36]:
# Vectorize the text data
vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
X_test_vectorized = vectorizer.transform(X_test)

 # Model Training

In [37]:
# Initialize the Random Forest classifie
base_classifier = RandomForestClassifier(n_estimators=50, random_state=42)

In [39]:
# Train the classifier on multiple bootstrap samples (bagging)
bagging_classifier = base_classifier.fit(X_train_vectorized, Y_train)

In [41]:
# Make predictions
y_pred = bagging_classifier.predict(X_test_vectorized)

# Evaluation

In [44]:
# Evaluate the model
accuracy = accuracy_score(Y_test, y_pred)
precision = precision_score(Y_test, y_pred)
recall = recall_score(Y_test, y_pred, )
f1 = f1_score(Y_test, y_pred)

In [45]:
# Print results
print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.9736842105263158
Precision: 0.9896373056994818
Recall: 0.8197424892703863
F1 Score: 0.8967136150234742